{:duct.compiler.cljs.shadow/release [:duct.compiler.cljs/shadow]
 :duct.compiler.cljs.shadow/server [:duct.compiler.cljs/shadow]
 :duct.compiler.cljs/shadow [:duct.compiler/cljs]
 :duct.compiler/cljs [:duct/compiler]}
